body {
    background: #ebf6f3;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --green: hsl(135, 48%, 43%);
    --varyDarkBlue: hsl(0, 0%, 0%);
    --grayishBlue: hsl(0, 0%, 0%);
    --veryLightGray: hsl(0, 0%, 98%);
}

:root {
    --red: #204645;
    --cyan: #216869;
    --orange: #358471;
    --blue: #49A078;
    --green: #88BC97;
    --varyDarkBlue: hsl(0, 0%, 0%);
    --grayishBlue: hsl(0, 0%, 0%);
    --veryLightGray: hsl(0, 0%, 98%);
}

/* The navbar colours */
.navbar {
    background: #204645;
}

#navbar__logo {
    background-color: #ffffff;
}

.navbar__links {
    color: #ffffff;
}

.navbar__links:hover {
    /* background-color: rgb(183, 247, 186); */
    color: rgb(1, 107, 18);
}

.highlight {
    border-bottom: 0.3rem solid rgb(1, 107, 18);
}

/* Description box background colour */
.tips_box {
    background-color: #ffffff;
}

/* Section header colour */
.guide__heading, .page__section__heading {
    color: #131313;
    border-bottom: 0.25rem solid #1F2421;
}

.wrapper .form-control .search-input {
    border: #12d8fa;
}

/* All the Table colours */
#excel_data, 
#cost_data {
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);
}

#excel_data th, 
#cost_data th {
    background-color: #216869;
    color: #ffffff;
}

.hidden-header {
    background-color: #cacaca;
    color: #131313;
}

#excel_data tbody tr, 
#cost_data tbody tr {
    border-bottom: 1px solid #c1c1c1;
}

#excel_data tbody tr:nth-of-type(odd), 
#cost_data tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

td.hidden-start {
    background-color: #ffffff;
  }
  
#excel_data tbody tr:nth-of-type(even), 
#cost_data tbody tr:nth-of-type(even) {
    background-color: #c8c8c8;
}

#excel_data tbody tr:last-of-type, 
#cost_data tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#summary_table,
#alt_table {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
}

#summary_table th,
#alt_table th {
    background-color: #000;
    color: #ffffff;
}

#summary_table tbody tr,
#alt_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#summary_table tbody tr:nth-of-type(odd),
#alt_table tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

#summary_table tbody tr:nth-of-type(even),
#alt_table tbody tr:nth-of-type(even) {
    background-color: #c8c8c8;
}

#summary_table tbody tr:last-of-type,
#alt_table tbody tr:last-of-type {
    border-bottom: 2px solid #000000;
}

/* All the button colours */

.click__button {
    background-color: #1F2421;
    color: #FFFFFF;
}

.click__button:hover,
.click__button:focus {
    background-color: #204645;
}

#factors::before {
    background-color: rgb(47, 89, 137);
}

.custom-checkbox input#status + label > .status-switch {
    background-color: #1F2421;
    color: white;
}

  .custom-checkbox input#status + label > .status-switch:before {
    background-color: white;
    color: black;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

.custom-checkbox input#status:checked + label > .status-switch {
    background-color: #1F2421;
}

.custom-checkbox input#status:checked + label > .status-switch:before {
    color: #1F2421;
  }


