.network-dashboard {
    position: relative;
    flex-grow: 1;
    /* top: 10%;*/
    left: 5%; 
    width: 90%;
    height: 80vh;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    /* flex-direction: row; Align items horizontally */
    /* border: 2px solid rgb(255, 0, 0); */
  }

/* .network-sidebar{
    flex-direction: column;
} */

.activeLink {
    background-color: #03C9D7; /* Active item background color */
    color: #ffffff; /* Active item text color */
    border-radius: 15px;
    max-width: 90%;
    margin-left: 10px;
  }
  
  .normalLink {
    /* Styles for normal (inactive) items */
    color: #000000; /* Normal item text color */
    border-radius: 15px;
    max-width: 90%;
    margin-left: 10px;

  }

.content {
    /* flex-grow: 1; Grow to fill remaining space */
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    /* border: 2px solid rgb(51, 0, 255); */
    /* cursor:pointer; */
}

.networkDescription {
  color: #ffffff;
  cursor:pointer;
  width:20%;
  background: rgba( 22, 22, 37, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13px );
  -webkit-backdrop-filter: blur( 13px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.node {
    position: absolute;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    width: 100px; 
    height: 100px; 
    border: 2px solid rgb(0, 255, 51);
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}